/*Slide Patrocinadores*/

.for_slick_slider_cola {
    display: flex;
}

.for_slick_slider_cola .items img {
    width: 80%;
    height: 80%;
    margin: 30px;
}


/*Tamaño P en Historia*/

#contenedorH p {
    font-size: x-large;
}

.error-404 {
    margin-bottom: 40px;
    background: #1ABC9C;
    color: #FFF;
}

.entry-title {
    font-weight: bold;
}